@import url("https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@200&family=Source+Code+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Smooch+Sans:wght@200&family=Source+Code+Pro:wght@300&display=swap");
* {
  /*to remove gaps from both sides of side bar*/
  margin: 0;
  padding: 0;
}
.sidebar {
  /* background-color: red; */
  width: 430px; /*side bar will take 20% of screen*/
  font-family: "Smooch Sans", sans-serif;
  height: 100vh;
  font-weight: bolder;
  font-size: 20px;
  background-color: rgb(170, 163, 163);
}
.sidebar nav {
  padding: 37px;
}
.sidebar nav li {
  list-style: none;
  padding: 33px 0;
}
.sidebar nav li a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  /* border: 1px solid black; */
}
.main {
  /* background-color: yellow; */
  width: 90vw; /*main content will take 80% screen*/
  height: 100vh;
  background-image: url('/contactpage.jpg');
  background-position: center; 
  background-size: 1100px;
  /* border: 2px solid white; */
}
.container {
  display: flex; /*creating flex box*/
}
.infocontainer {
  /* background-color: rgb(223, 41, 126); */
  height: 60vh;
  width: 60vw;
  margin: 45px auto;
  display: flex;
  /* border: 2px solid rgb(199, 47, 47); */
  justify-content: right;
  border-end-start-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}
.devInfo {
  /* border: 2px solid green; */
  height: 250px;
  width: 550px;
  margin: auto;
  padding-left: 5px;
  /* background-color: rgb(211, 230, 45); */
  border-top-left-radius: 20px;
}
.devPic img {
  height: 68vh;
  width: 260px;
}
.hello {
  font-family: "Smooch Sans";
  font-size: 80px;
  font-weight: bold;
  padding: 2px;
}
.name {
  font-family: "Source Code Pro";
  font-weight: bold;
  font-size: 40px;
  padding: 3px;
}
.about {
  font-family: "Smooch Sans";
  font-size: 35px;
  font-weight: bold;
  padding-left: 5px;
  padding-top: 2px;
}
.moreabout {
  padding: 5px;
  padding-top: 10px;
}
.buttons {
  padding-left: 5px;
  margin-top: 30px;
}
.buttons button {
  padding: 10px;
  border-radius: 20px;
  color: white;
  background-color: black;
  font-weight: bold;
}

.buttons .cv:hover {
  color: red;
  text-decoration: none;
}
.buttons .more:hover{
  color: red;
}
.buttons .more {
  width: 105px;
}
.cv:hover{
  text-decoration: none;
  list-style: none;
}


/* --------------------------------------- */


/* starting of contact page designing */


/* .main2 {
  background-image: url("/blackbg1.jpg");
  background-position: center;
  background-size: 950px;
  width: 70vw; 
} */
.contacthead {
  text-align: center;
  color: rgb(65, 12, 12);
  padding-top: 50px;
  margin-bottom: 40px;
}
.section{
  border-color: black;
  margin-right: 55px;
  margin-left: 62px;
  background-color:  #d3155b;
  color: white;
  border-radius: 20px;
}
.mb-3 , #enailHelp .form-label {
  padding: 15px;
  margin-left: 215px;
}
.mb-3{
  /* border: 1px solid black; */
  margin-top: 10px;
  margin-bottom: 8px;
  width: 322px;
  font-size: 20px;
}
#emailHelp{
  font-size: 15px;
  font-style: italic;
}
.btn{
  padding: 10px;
  margin-left: 355px;
  width: 100px;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 27px;
  text-align: center;
}
#phone1{
  padding-right: 62px;
}
#exampleInputPhone{
  height: 25px;
  width: 200px;
  border-radius: 15px;
}
#exampleInputEmail1{
  height: 25px;
  width: 200px;
  border-radius: 15px;
}

/* ------------skill page----------- */
.skill{
  background: #333;
  width: 700px;
  margin: 60px auto;
  color: #fff;
  box-shadow: 0 14px 28px rgba(0, 0, 0,0.25), 0 10px 10px rgba(0, 0, 0,0.22);
}
.skill li{
list-style: none;
margin: 20px 0;
padding: 10px;
}
h1{
  text-align: center;
}
h3{
  margin: 5px;
}
.bar{
background: #353b48;
display: block;
height: 20px;
border: 1px solid rgba(0, 0, 0, 0.3);
border-radius: 10px;
overflow: hidden;
box-shadow: 0 1px 3px rgba(0, 0, 0,0.12), 0 1px 2px rgba(0, 0, 0,0.24);
transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.bar:hover{
  box-shadow:  0 14px 28px rgba(0, 0, 0,0.25), 0 10px 10px rgba(0, 0, 0,0.22);
}
.bar span{
  height: 20px;
  float: left;
  background: linear-gradient(135deg, rgba(236,0,140,1)0%,rgba(252,103,103,1)100%);
}
.Html{
width: 90%;
animation: Html 3s;
}
.CSS{
width: 70%;
animation: CSS 3s;
}
.JavaScript{
width: 60%;
animation: JavaScript 3s;

}
.PHP{
width: 40%;
animation: PHP 3s;
}
@keyframes Html{
  0%{
    width: 0%;
  }
  100%{
    width: 90%;
  }
}
@keyframes CSS{
  0%{
    width: 0%;
  }
  100%{
    width: 70%;
  }
}
@keyframes JavaScript{
  0%{
    width: 0%;
  }
  100%{
    width: 60%;
  }
}
@keyframes PHP{
  0%{
    width: 0%;
  }
  100%{
    width: 40%;
  }
}